@font-face {
    font-family: CandyCane;
    src: url("../Assets/Fonts/CandyCane.ttf");
}

@font-face {
    font-family: ChristmasMountainFont;
    src: url("../Assets/Fonts/MountainsofChristmas.ttf");
}

.final-count-down {
    color: red;
    text-shadow: 1px 0px white;
    font-family: CandyCane;
    background-color: green;
    border: 4px solid white;
    border-radius: 15px;
    padding: 10px;
}

.count-down-timer {
    background-color: green;
    text-shadow: 1px 0px white;
    border: 4px solid white;
    border-radius: 15px;
    padding: 10px;
}

.text-jolly {
    color: white;
    font-family: ChristmasMountainFont;
}

.text-holly {
    color: red;
    font-family: ChristmasMountainFont;
}

.text-copyright {
    color: red;
    background-color: gold;
    text-shadow: 1px 1px;
    font-family: ChristmasMountainFont;
    font-size: 25px;
}

.text-rules {
    color: red;
    font-family: ChristmasMountainFont;
    font-size: 25px;
}

.holly-column-title {
    color: white;
    font-family: ChristmasMountainFont;
    font-size: 32px;
}

.holly-column-text {
    color: white;
    font-family: ChristmasMountainFont;
    font-size: 25px;
}

.holly {
    background-color: red;
}

.jolly {
    background-color: green;
}

.christmasHeader {
    background-color: rgba(255, 255, 255, 0.80);
}

.christmasBackground {
    background-color: #b3ccff;
    background-image: url("../Assets/img/christmas.png");
    color: red;
    font-family: cursive;
}

#pButton {
    height: 32px !important;
    width: 32px !important;
    float: left !important;
}

.btn-holly {
    display: inline-block;
    font-family: ChristmasMountainFont;
    color: red;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 0.125rem solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.5rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-jolly {
    display: inline-block;
    font-family: ChristmasMountainFont;
    color: green;
    background-color: gold;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0.125rem solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.5rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-jolly-dead {
    display: inline-block;
    font-family: ChristmasMountainFont;
    color: #fff;
    background-color: grey;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0.125rem solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.5rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-holly:hover {
    color: green;
    text-decoration: none;
}

.video-play-button {
    position: relative;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
}

.video-play-button:before {
    content: "";
    color: green;
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: green;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: green;
    border-radius: 50%;
    transition: all 200ms;
}

.video-play-button:hover:after {
    background-color: #15c977;
}

.video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid #fff;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}

.video-pause-button {
    position: relative;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
}

.video-pause-button:before {
    content: "";
    color: red;
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: red;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

.video-pause-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: red;
    border-radius: 50%;
    transition: all 200ms;
}

.video-pause-button:hover:after {
    background-color: #FF6461;
}

.video-pause-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    background-image: url("../Assets/img/pauseBtn.png");
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

/* animated pause/play button */
/* .button {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 74px;

  border-color: transparent transparent transparent #202020;
  transition: 100ms all ease;
  cursor: pointer;

  // play state
  border-style: solid;
  border-width: 37px 0 37px 60px;

  &.paused {
    border-style: double;
    border-width: 0px 0 0px 60px;
  }

  &:hover {
    border-color: transparent transparent transparent #404040;
  }
} */
@media (min-width: 576px) {
    .final-count-down {
        font-size: 32px;
    }

    .wordy {
        padding-left: 0%;
        padding-right: 0%;
    }
}

@media (min-width: 768px) {
    .final-count-down {
        font-size: 42px;
    }
}

@media (min-width: 992px) {
    .final-count-down {
        font-size: 52px;
    }

    .wordy {
        padding-left: 25%;
        padding-right: 25%;
    }
}

@media (min-width: 1200px) {
    .final-count-down {
        font-size: 69px;
    }
}
